{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid populer-news py-5">
    <div class="container py-5">
        <div class="tab-class mb-4">
            <div class="row g-4">
                <div class="col-lg-8 col-xl-9">
                      <div class="mt-5 lifestyle">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                          {% for new in news %}
                            {% if new.is_published %}
                                <div class="col">
                                    <div class="card">
                                        {% if new.photo %}
                                        <img src="{{ new.photo.url }}" class="card-img-top" alt="...">
                                        {% endif %}
                                        <div class="card-body">
                                            <h5 class="card-title">{{ new.title }}</h5>
                                            <p class="card-text">{{ new.description|truncatewords:4 }}</p>
                                            <a href="{% url 'news_detail_url' slug=new.slug %}" class="btn btn-success">Read more...</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                          {% endfor %}
                          </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
